[Unit]
Description=Discord bot that turns a server into an RSS/Atom reader
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/rsspal
ExecStop=/usr/bin/pkill rsspal
User=www-data
WorkingDirectory=/mnt/www
EnvironmentFile=/root/rsspal-creds

[Install]
WantedBy=multi-user.target
